/*Layout start*/
.container {
  width: 85%;
  margin: auto;
}
.row {
  display: flex;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
/*Layout end*/
